/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700

*/

:root{
    --b-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --white-text: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

html, body{
    min-height: 100vh;  
    background-color: var(--very-light-gray);       
}

body{
    margin: 0;  
    padding: 0; 
    
}

main{  
    flex-grow: 1;  
    margin: 5.5em 2em;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: var(--white-text); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container{
    display: block;
    border-radius: 0.8em;
    overflow: hidden;
    max-width: 18em;
}

.card{
    box-sizing: border-box;
    padding: 3em;   
}

.card-title{
    margin-top: 0.5em 0 0.5em 0;    
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.6em;
    font-weight: 700;
    color: white;
    letter-spacing: 0.06em;
}

.card-paragraph{
    line-height: 1.8em;  
    font-size: 0.85em;
    margin-bottom: 2em;
}

.sedans-card{
    background-color: var(--b-orange);
}

.suvs-card{
    background-color: var(--dark-cyan);
}

.luxury-card{
    background-color: var(--very-dark-cyan);
}

.card-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 0.16em solid white;
    border-radius: 1.58em;
    margin: 0;
    height: 3em;
    width: 10em;    
    text-align: center;
    text-decoration: none;     
    position: relative;    
}

.card-cta :hover{
    background-color:  rgba(0, 0, 0, 0);
    color: white;
}

.card-button-sedans{    
    color: var(--b-orange);    
}

.card-button-suvs{
    color: var(--dark-cyan);
}

.card-button-luxury{
    color: var(--very-dark-cyan);
}

.attribution{
    flex-grow: 0;
    margin: 1em 2em;
    text-align: center;
    bottom: 2em;
}

@media (min-width: 1440px){
    html, body{
        overflow: hidden;
    } 
    body{
        display: flex; 
        flex-direction: column;   
    }
    
    main{
        margin-top: 10em;
    } 
    .card-container{
        display: flex;
        align-items: center;
        justify-content: center;  
        min-width: 20em;      
    }    
    .card-container{
        min-width: 54em;
    }
}